body {
    /* background-color: rgb(184, 183, 183); */
    background-size: 100% 100%;
    background-color: #0f1518b4;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    font-size: 13px;
    font-family: helvetica;
    font-weight: bold;
    color: #71d90b;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}